/* General body styles */
body {
  background: radial-gradient(circle, #ffffff, #e8f9e8, #c3f1c3, #96e096);
  
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

/* Main container styles */
body > div {
  background: radial-gradient(circle, #ffffff, #d5f6d5, #b3e6b3, #80d480);
  
  width: 90%;
  height: 90%;
  background-size: cover;
  /* border: 2px solid black; */
  display: flex;
}


/* Nav bar styles */
.main-container .nav-bar {
  width: 6vw;
  background-color: #ffffff;
  border-right: 2px solid #eaeaea;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 1rem;
}


.main-container .nav-bar .logo{
  height: 120px;
}


/* Logo styling */
.main-container .nav-bar .logo img {
  width: 2vw;
  height: auto;
  /* margin-bottom: 2rem; */
  margin-bottom: 48px;

}

/* Nav bar icons and tooltip styles */
.main-container .nav-bar .nav-bar-icon-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.main-container .nav-bar .nav-bar-icon-content .icon-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-container .nav-bar .nav-bar-icon-content .icon-wrapper img {
  width: 1.7vw;
  height: 1.7vw;
}


.main-container .nav-bar .nav-bar-icon-content .icon-wrapper:hover .tooltip {
  opacity: 1;
}

/* Frame styles */
.main-container .w-100 iframe {
  border: none;
}

/* Responsive styles */
@media screen and (max-width: 1440px) {
  body > div {
    width: 90%;
  }
}

@media screen and (max-width: 1024px) {
  body > div {
    width: 98%;
  }
  .main-container .nav-bar .nav-bar-icon-content .icon-wrapper img {
    width: 2.5vw;
    height: 2.5vw;
  }
  .main-container .nav-bar .logo img {
    width: 3vw;
  }
}

.icon-wrapper img:hover{
  transform: scale(1.4);
  border-radius: 50%;
  background-color:white;
  padding: 5px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.tooltip {
  width: 180px;
  visibility: hidden;
  background-color: white;
  color: #000000;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
}

.icon-wrapper:hover .tooltip {
  visibility: visible;
  opacity: 1;
}