body {
  font-family: "Times New Roman", Times, serif;
}
.stf-main-dive {
  grid-template-rows: auto auto auto;
}
.topic {
  padding-bottom: 30px;
}
.serach-br-and-add-btn {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  padding-bottom: 50px;
}

.action {
  display: flex;
}

.table tbody .action > :first-child:hover path {
  fill: #3700fd;
  transition: 0.5s;
}

.table tbody .action > :nth-child(2):hover path {
  fill: #fa0000;
  transition: 0.5s;
}

.table tbody .action > :nth-child(3):hover path {
  fill: #33ff00;
  transition: 0.5s;
}

/* search-bar - From Uiverse.io by LightAndy1 */
.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 290vw;
}

.input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: white;
  color: #0d0c22;
  transition: 0.3s ease;
}

.input::placeholder {
  color: #9e9ea7;
}

.input:focus,
input:hover {
  outline: none;
  border-color: rgba(0, 48, 73, 0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(0 48 73 / 10%);
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}

#viewStaffModal,
#updteStaffModal {
  display: none;
  animation: wipe 0.2s ease-in-out;
}
.modal-content {
  border: 2px solid green;
}

/* save-update-button */
.modal-body .btn {
  background: green;
}

/* add button-From Uiverse.io by gharsh11032000 */
.button {
  position: relative;
  width: 120px;
  height: 40px;
  background-color: green;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  justify-content: center;
  border: none;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -4px;
  top: -1px;
  margin: auto;
  width: 128px;
  height: 48px;
  border-radius: 10px;
  background: linear-gradient(-45deg, rgb(1, 145, 1) 0%, white 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
